<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Страница книги:</h1>
<p th:text="${book.name}">bookname</p>
<p th:text="${book.authorNames}">bookauthor</p>
<p th:text="${book.genre}">bookgenre</p>

<p><a href="/bookpage">К списку книг</a></p>

</body>
</html>
